        body {
            display: flex;
            font-family: 'Quicksand', sans-serif;
            flex-direction: column;
            justify-content: center;
        }
       .mywrapper {
            display: flex;
            font-family: 'Quicksand', sans-serif;
            flex-direction: column;
            justify-content: center;
            overflow-x: hidden;
        }
        .nav_box {
            display: block;
            list-style-type: none;
            background-color: transparent;
            overflow: hidden;
            margin-top: 0;
        }

        .nav {
            display: inline-block;
            font-size: 17;
            padding-right: 5px;
            text-decoration: none;
            background-color: transparent;
            color: black;
            font-weight: normal;
        }

        .nav:hover {
            font-weight: bold;
            text-decoration: underline;
        }

        .header2,
        .shipping {
            display: none;
        }

        .header {
            display: flex;
            margin: 0 0 0 0;
            background-color: white;
            max-height: 100px;
            height: 20vw;
        }

        .right_nav1 {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 17px;
            width: 40%;
        }

        .right_nav2 {
            display: inline-block;
            text-align: center;
            margin: auto;
            width: 20%;
        }

        .right_nav3 {
            display: flex;
            width: 40%;
            text-align: center;
            align-items: flex-end;
        }

        .danhmuc_box {
            display: none;
            position: absolute;
            margin-left: -50px;
            background-color: white;
            width: 80vw;
            z-index: 2;
            max-width: 600px;
            border: solid black;
            border-width: 1px;
        }

        .danhmuc:hover .danhmuc_box {
            display: flex;
        }

        .danhmuc_box:hover {
            display: flex;
        }

        .danhmuc_content {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 33.3333%;
        }

        .subdanhmuc1:hover {
            background-color: lightgray;
            width: 100%;
            margin: auto;
            font-weight: 700;
            text-decoration: none;
        }

        .subdanhmuc1 {
            display: block;
            width: 100%;
            margin: auto;
            padding: 10px;
            text-decoration: none;
            font-weight: 400;
            color: black;
        }

        h4 {
            color: #ba2568;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 0;
        }

        .divider {
            height: 1px;
            background: #ba2568;
            margin: 0 0 0 0;
            width: 100%;
            border-bottom: 1px solid #ba2568;

        }
        .homecontent2 {
            display: flex;
            position: relative;
            width: 170vw;
            height: auto;
            margin-left:0;
            overflow:hidden;
            -webkit-animation: cycle 45s ease infinite;
            -moz-animation: cycle 45s ease infinite;
            -o-animation: cycle 45s ease infinite;
            animation: cycle 45s ease infinite;
        }
        
        .homecontent2 a {
           width:auto;
        }
        
        .homecontent2 a img{
            width:auto;
            height: 50vw;
        }

        .homecontent2:hover {
            -webkit-animation-play-state:  paused;
            -moz-animation-play-state:  paused;
            -o-animation-play-state: paused;
            animation-play-state: paused;
        }
        
        @keyframes cycle{
            from {transform: translateX(0px);}
            50% {transform: translateX(-70vw);}
            to {transform: translateX(0px);}
            
        }
        .homecontent3 {
            display: flex;
            margin: auto;
        }

        .homecontent3_1 {
            display: block;
            width: 30%;
        }

        .homecontent3_2 {
            display: block;
            width: 70%;
            background-color: white;
            color: black;
            padding-left: 10px;
            padding-right: 10px;
        }

        .homecontent4 {
            display: block;
            margin-top: 20px;;
            text-align: center;
        }

        .homecontent4_2 {
            display: flex;
            flex-flow: wrap;
            width: 90%;
            margin: auto;
            list-style: none;
            
        }

        .homecontent4_product {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 24%;
            text-decoration: none;
        }
        .homecontent4_product p{
            margin: 10px 0 5px 0;
        }

        .homecontent5 {
            display: flex;
            width: 100%;
            margin: auto;
            align-items: center;
            max-width: 1000px;
        }

        .homecontent5_1 {
            display: inline-block;
            vertical-align: middle;
            width: 70%;
        }

        .homecontent5_2 {
            width: 30%;
            text-align: left;
            line-height: 50px;
        }

        .homecontent7 {
            display: flex;
            margin: 0 0 0 0;
        }

        .homecontent6 {
            display: flex;
            max-width: 1300px;
            margin: auto;
            width: 100%;
        }

        .homecontent6_1 {
            display: block;
            width: 30%;
            padding: 10px;
        }

        .homecontent6_2 {
            display: block;
            width: 30%;
            padding: 10px;
            text-align: left;
        }

        .homecontent6_3 {
            display: block;
            text-align: left;
            width: 40%;
            padding: 10px;
        }

        .fa {
            font-size: 20px;
            width: 20px;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            border-radius: 100%;
        }

        .fa:hover {
            opacity: 0.5;
        }

        .fa-facebook {
            padding: 17px;
            margin-right: 5px;
            background: #3B5998;
            color: white;
        }

        .fa-youtube {
            padding: 17px;
            margin-right: 5px;
            background: #bb0000;
            color: white;
        }

        .fa-zalo {
            width:55px; height:55px; 
            vertical-align: middle;
            color: white;
            font-family: 'Quicksand', sans-serif;
            font-weight: bold;
        }
        .fa-zalo:hover {
            opacity: 0.5;
        }
        
        .fa-google {
            padding: 17px;
            margin-right: 5px;
            background: #dd4b39;
            color: white;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity: 0;
            overflow: hidden;
            margin-bottom: 5px;
            color: white;
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
        @media (max-width:399px){
            .homecontent6 {
                display: flex;
                flex-flow: wrap;
                width: 100%;
                margin: auto;
            }

            .homecontent6_1 {
                width: 100%;
                text-align: left;
                padding-left: 3vw;
            }

            .homecontent6_2 {
                display: block;
                width: 100%;
                text-align: left;
                padding-left: 3vw;
                margin-top: -20px;
            }

            .homecontent6_3 {
                display: block;
                width: 100%;
                text-align: center;
                padding: inherit;
            }
        }
        @media (max-width:650px) and (min-width:399px) {
            .homecontent6 {
                display: flex;
                flex-flow: wrap;
                width: 100%;
                margin: auto;
            }

            .homecontent6_1 {
                width: 45%;
                text-align: left;
                padding-left: 3vw;
            }

            .homecontent6_2 {
                display: block;
                width: 44%;
                text-align: left;
                padding-left: 0vw;
            }

            .homecontent6_3 {
                display: block;
                width: 100%;
                text-align: center;
                padding: inherit;
            }
        }
        /*------------------------ device < 650px width screen-------------------------------------------------*/
        @media (max-width:650px) {

            .homecontent4 {
                display: flex;
                flex-direction: column;
            }

            .homecontent4_2 {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            .homecontent4_product {
                display: flex;
                width: 70%;
                text-decoration: none;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
            }

            .homecontent5 {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: auto;
            }

            .homecontent5_1 {
                display: flex;
                vertical-align: middle;
                width: 100%;
                margin-left: 0;
                padding-top: 13px;
                height: 100%;
                justify-content: center;
            }

            .homecontent5_2 {
                width: 100%;
                line-height: 30px;
                text-align: center;
            }

            .fa {
                padding: 12px;
                font-size: 20px;
                width: 20px;
                text-align: center;
                text-decoration: none;
                border-radius: 100%;
            }
            
            .fa-zalo {
                width:45px; height:45px; 
                vertical-align: middle;
                color: white;
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
            }
            
            .fa-zalo:hover {
                opacity: 0.5;
            }
        }
        @media screen and (max-width:1151px) and (min-width:650px){
        .homecontent4_2 {
                display: flex;
                flex-flow: wrap;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-bottom: 20px;
            }

            .homecontent4_product {
                display: flex;
                width: 47%;
                text-decoration: none;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 80px;
            }
        }
        /*--------------------------------device < 818px width screen----------------------------------------*/
        @media screen and (max-width:818px) {
            
            .homecontent7,{
                display: flex;
            }

            .homecontent3 {
                display: flex;
                flex-direction: column;
            }
            .homecontent3_1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            .homecontent3_2 {
                display: block;
                width: 100%;
                background-color: white;
                color: black;
                padding-left: 0px;
                padding-right:0px;
            }
            
            
            .header {
                display: none;
            }

            
            .header2 {
                display: flex;
                flex-flow: wrap;
                position: fixed;
                top:0;
                left:0;
                right:0;
                z-index: 20;
                margin: 0 0 0 0;
                background-color: white;
                max-height: 80px;
                height: 20vw;
            }
            
            .header_decoy{
                max-height: 110px;
                height: 20vw;
            }

            .right_nav1 {
                display: flex;
                width: 10%;
                margin-left: 5px;
                transition: .9s ease;
                padding: 0;
            }

            .right_nav2 {
                display: flex;
                width: 70%;
                margin-bottom: -10px;
                 transition: .9s ease;
            }

            .right_nav3 {
                display: flex;
                width: 10%;
                margin-right: 5px;
                transition: .9s ease;
                padding:0;
            }

            .side_nav_box {
                display: block;
                list-style-type: none;
                background-color: transparent;
                overflow: hidden;
                margin-top: 0;
            }

            #Mymenu {
                display: flex;
                flex-direction: column;
                width: 0px;
                position: fixed;
                z-index: 100;
                top: 0;
                left: 0;
                height: 100vh;
                overflow-y: auto;
                background-color: #29373f;
                overflow-x: hidden;
                transition: 0.2s;
                padding-top: 20px;
                color: white;
            }
            
            .shipping {
                display: inline-block;
                width: 100%;
                font-size: 12px;
                background-color: white;
            }

            .side_nav {
                display: inline;
                font-size: 17;
                padding: 10px 0 10px 10px;
                text-decoration: none;
                background-color: transparent;
                color: white;
                font-weight: normal;
            }

            .side_nav:hover {
                font-weight: bold;
                text-decoration: none;
                background-color: lightgray;
                color: black;
            }
            
            .side_active {
                font-weight: bold;
                text-decoration: none;
                background-color: lightgray;
                color: black;
                transition: .5s ease;
            }
            .side_danhmuc_box {
                display: flex;
                flex-direction: column;
                background-color: #f4f4f4;
                width: 100%;
                height: 100%;
                margin-bottom: 0px;
                text-decoration: none;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }
            

            .side_danhmuc {
                display: flex;
                flex-direction: column;
                text-align: left;
                text-decoration: none;
                height:0;
                overflow-y: hidden;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            
            .side_danhmuc_active{
                
            }
            
            .side_danhmuc_content {
                display: flex;
                flex-direction: column;
            }
            
            .side_danhmuc_content2:hover {
                color: black;
                background-color: lightgray;
            }
            .side_danhmuc_content a:hover {
                color: black;
                font-weight: bold;
                background-color: lightgray;
            }
            .side_danhmuc_content .side_subdanhmuc {
                color:black;
                text-decoration: none;
                padding: 10px 0 10px 10px;
            }
            .side_danhmuc_content .side_subheader{
                text-decoration: none;
                color: #ba2568;
                font-weight: bold;
                padding: 10px 0 10px 10px;
            }
            
            .rotated{
                -webkit-transform : rotate(180deg); 
                -moz-transform    : rotate(180deg);  
                -o-transform      : rotate(180deg); 
                transform       : rotate(180deg); 
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

        }

        /*----------------------------------Menu resize at 1018px width--------------------------*/
        @media screen and (max-width:1020px) and (min-width:818px) {
            .header {
                display: flex;
                margin: 0 0 0 0;
                background-color: white;
                max-height: 120px;
                height: 20vw;
            }

            .right_nav1 {
                display: flex;
                align-self: flex-end;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 17px;
                width: 50%;
                height: 30%;
                transition: .9s ease;
            }

            .right_nav2 {
                display: flex;
                align-self: flex-start;
                justify-content: center;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 20%;
                transition: .9s ease;
            }

            .right_nav3 {
                display: flex;
                width: 50%;
                text-align: right;
                align-items: flex-end;
                transition: .9s ease-out;
            }

            .header2,
            .shipping {
                display: none;
            }
        }
